/* -- Formatting Shortcuts -- */
.clear {clear: both;}
.margin0 {margin: 0px;}
.top0 {margin-top: 0px;}
.bot0 {margin-bottom: 0px;}
.bold {font-weight: bold;}
.allcaps {text-transform: uppercase;}
.capitalize {text-transform: capitalize;}
.lowercase {text-transform: lowercase;}
.hidden {display: none;}