/* SCSS Variables */
$black: #000;
$white: #fff;
$break1: 768px;
$break2: 920px;
$break3: 1060px;

@-ms-viewport{
  width: device-width;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.total-wrapper {
  min-width: 480px;
  max-width: 100%;
  img {
    max-width: 100%;
    height: auto;
  }
}

.container {
  float: left;
  clear: both;
  width: 100%;
  .inner {
    width: 90%;
    margin: 0px auto;
  }
}

header {
  padding: 1.5rem 0px .75rem 0px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  .header-logo {
    float: left;
    clear: left;
    a {
      display: block;
      width: 250px;
      height: 61px;
      background-position: 0px 0px;
      text-indent: -999999em;
      background-image: url('images/logo-header.png');
      background-size: auto 100%;
    }
  }
}

article {
  padding: 2rem 0px;
  .time-nav {
    float: left;
    clear: both;
    width: 100%;
    .older, .newer {
      padding: 1rem;
      border: 1px solid #eee;
      margin: 0px auto 1rem auto;
      text-align: center;
    }
    &:first-of-type .older {display: none;}
    &:last-of-type .newer {display: none;}
  } /* END .time-nav */
  section {
    float: left;
    clear: both;
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    margin: 1.5rem 0px;
  }
}

footer {
  padding: 2rem 0px;
  border-top: 1px solid #eee;
}

@media only screen and (min-width: $break1){
  header {
    position: fixed;
  }
  article {padding: 4rem 0px;}
}



@media only screen and (min-width: $break2){}



@media only screen and (min-width: $break3){}


