# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Pre-Processors
.sass-cache/
dev/node_modules/
dev/ref/
dev/.sass-cache/
dev/.sass-cache/14853855c369484f2529ecda4d74dd0748c8e68f/style.scssc
dev/.sass-cache/14853855c369484f2529ecda4d74dd0748c8e68f/theme.scssc
*.scssc
images/bg-splash1040.jpg
*.scssc
*.scssc
*.scssc
/dev/corry2015/nbproject/private/
dev/corry2015/nbproject/project.properties
dev/corry2015/nbproject/project.xml