/* line 8, ../scss/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background-repeat: no-repeat;
}

/* remember to define focus styles! */
/* line 21, ../scss/style.scss */
:focus {
  outline: 0;
}

/* line 24, ../scss/style.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 29, ../scss/style.scss */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 33, ../scss/style.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 37, ../scss/style.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 42, ../scss/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 45, ../scss/style.scss */
blockquote, q {
  quotes: "" "";
}

/* -- Formatting Shortcuts -- */
/* line 49, ../scss/style.scss */
.clear {
  clear: both;
}

/* line 50, ../scss/style.scss */
.margin0 {
  margin: 0px;
}

/* line 51, ../scss/style.scss */
.top0 {
  margin-top: 0px;
}

/* line 52, ../scss/style.scss */
.bot0 {
  margin-bottom: 0px;
}

/* line 53, ../scss/style.scss */
.bold {
  font-weight: bold;
}

/* line 54, ../scss/style.scss */
.allcaps {
  text-transform: uppercase;
}

/* line 55, ../scss/style.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 56, ../scss/style.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 57, ../scss/style.scss */
.hidden {
  display: none;
}

/* SCSS Variables */
@-ms-viewport {
  width: device-width;
}

/* line 83, ../scss/style.scss */
body {
  font-family: 'Arimo', sans-serif;
  overflow-x: hidden;
}

/* line 88, ../scss/style.scss */
a {
  color: #2d5f83;
  text-decoration: none;
}
/* line 91, ../scss/style.scss */
a:hover {
  color: #ae613b;
}

/* line 96, ../scss/style.scss */
.total-wrapper {
  min-width: 490px;
  max-width: 100%;
}
/* line 99, ../scss/style.scss */
.total-wrapper img {
  max-width: 100%;
  height: auto;
}

/* line 105, ../scss/style.scss */
.container {
  float: left;
  clear: both;
  width: 100%;
}
/* line 109, ../scss/style.scss */
.container .inner {
  width: 90%;
  margin: 0px auto;
}
/* line 112, ../scss/style.scss */
.container .inner:after {
  clear: both;
  content: '';
  visibility: hidden;
  display: block;
  height: 0px;
}

/* line 122, ../scss/style.scss */
header {
  padding: .75rem 0px;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  /* END .header-logo */
}
/* line 126, ../scss/style.scss */
header .header-logo {
  float: left;
  clear: left;
  max-width: 40%;
  margin-top: .75rem;
}
/* line 132, ../scss/style.scss */
header .header-logo a svg {
  display: none;
}
/* line 134, ../scss/style.scss */
html.inlinesvg header .header-logo a img {
  display: none;
}
/* line 135, ../scss/style.scss */
html.inlinesvg header .header-logo a svg {
  display: block;
  max-width: 100%;
}
/* line 138, ../scss/style.scss */
html.inlinesvg header .header-logo a svg path {
  fill: #2d5f83;
}
/* line 142, ../scss/style.scss */
html.inlinesvg header .header-logo a:hover svg path {
  fill: #ae613b;
}
/* line 148, ../scss/style.scss */
header .search-container {
  float: right;
  clear: right;
  width: 32px;
  height: 30px;
  background-image: url("images/search-grey.png");
  background-repeat: no-repeat;
  background-position: center right;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  cursor: pointer;
}
/* line 159, ../scss/style.scss */
header .search-container label {
  display: none;
}
/* line 160, ../scss/style.scss */
header .search-container input {
  box-sizing: border-box;
  width: 0px;
  padding: 0px;
  height: 30px;
  border: 0px;
}
/* line 166, ../scss/style.scss */
header .search-container input#s {
  cursor: default;
  padding-left: 8px;
}
/* line 170, ../scss/style.scss */
header .search-container input#searchsubmit {
  text-indent: -9999px;
  background-color: transparent;
  cursor: pointer;
}
/* line 174, ../scss/style.scss */
header .search-container input#searchsubmit:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 178, ../scss/style.scss */
header .menu-container {
  float: right;
  clear: right;
  width: 32px;
  height: 32px;
  background-image: url("images/menu-grey.png");
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  cursor: pointer;
  margin-top: .75rem;
}
/* line 191, ../scss/style.scss */
header .menu-container.open {
  background-image: url("images/menu-white.png");
  background-color: #2d5f83;
  border-color: #2d5f83;
}
/* line 196, ../scss/style.scss */
header .menu-container:hover {
  background-image: url("images/menu-white.png");
  background-color: #ae613b;
  border-color: #ae613b;
}
/* line 201, ../scss/style.scss */
header .menu-container .inner-menu {
  display: none;
  position: absolute;
  box-sizing: border-box;
  margin-top: 34px;
  right: 5%;
  width: 90%;
  background-color: #fff;
  border: 1px solid #999999;
}
/* line 211, ../scss/style.scss */
header .menu-container .inner-menu ul li {
  float: left;
  clear: left;
  box-sizing: border-box;
  margin-bottom: 1rem;
  width: 50%;
  padding: 1.5rem;
  background-color: #fff;
}
/* line 219, ../scss/style.scss */
header .menu-container .inner-menu ul li:nth-child(even) {
  background-color: #000;
  color: #fff;
}
/* line 223, ../scss/style.scss */
header .menu-container .inner-menu ul li:last-child {
  margin-bottom: 0px;
}
/* line 224, ../scss/style.scss */
header .menu-container .inner-menu ul li a {
  display: block;
}
/* line 226, ../scss/style.scss */
header .menu-container .inner-menu ul li a:first-child {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #999999;
}
/* line 234, ../scss/style.scss */
header .menu-container .inner-menu ul li:nth-child(even) {
  clear: right;
}
/* line 238, ../scss/style.scss */
header .menu-container .inner-menu ul li ul li, header .menu-container .inner-menu ul li ul li:nth-child(even) {
  float: left;
  clear: both;
  width: 100%;
  padding: 0px;
  margin-left: 0px;
  background-color: transparent;
}
/* line 245, ../scss/style.scss */
header .menu-container .inner-menu ul li ul li a:first-child, header .menu-container .inner-menu ul li ul li:nth-child(even) a:first-child {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 0px;
  padding: 0px;
  border: 0px;
}
/* line 252, ../scss/style.scss */
header .menu-container .inner-menu ul li ul li ul, header .menu-container .inner-menu ul li ul li:nth-child(even) ul {
  display: none;
}

/* line 261, ../scss/style.scss */
article {
  padding: 0px 0px 2rem 0px;
  background-color: whitesmoke;
  background-image: -webkit-radial-gradient(100% 150%, circle, #f5f5f5 24%, #ffffff 25%, #ffffff 28%, #f5f5f5 29%, #f5f5f5 36%, #ffffff 36%, #ffffff 40%, transparent 40%, transparent), -webkit-radial-gradient(0 150%, circle, #f5f5f5 24%, #ffffff 25%, #ffffff 28%, #f5f5f5 29%, #f5f5f5 36%, #ffffff 36%, #ffffff 40%, transparent 40%, transparent), -webkit-radial-gradient(50% 100%, circle, #ffffff 10%, #f5f5f5 11%, #f5f5f5 23%, #ffffff 24%, #ffffff 30%, #f5f5f5 31%, #f5f5f5 43%, #ffffff 44%, #ffffff 50%, #f5f5f5 51%, #f5f5f5 63%, #ffffff 64%, #ffffff 71%, transparent 71%, transparent), -webkit-radial-gradient(100% 50%, circle, #ffffff 5%, #f5f5f5 6%, #f5f5f5 15%, #ffffff 16%, #ffffff 20%, #f5f5f5 21%, #f5f5f5 30%, #ffffff 31%, #ffffff 35%, #f5f5f5 36%, #f5f5f5 45%, #ffffff 46%, #ffffff 49%, transparent 50%, transparent), -webkit-radial-gradient(0 50%, circle, #ffffff 5%, #f5f5f5 6%, #f5f5f5 15%, #ffffff 16%, #ffffff 20%, #f5f5f5 21%, #f5f5f5 30%, #ffffff 31%, #ffffff 35%, #f5f5f5 36%, #f5f5f5 45%, #ffffff 46%, #ffffff 49%, transparent 50%, transparent);
  background-image: radial-gradient(circle at 100% 150%, #f5f5f5 24%, #ffffff 25%, #ffffff 28%, #f5f5f5 29%, #f5f5f5 36%, #ffffff 36%, #ffffff 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, #f5f5f5 24%, #ffffff 25%, #ffffff 28%, #f5f5f5 29%, #f5f5f5 36%, #ffffff 36%, #ffffff 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, #ffffff 10%, #f5f5f5 11%, #f5f5f5 23%, #ffffff 24%, #ffffff 30%, #f5f5f5 31%, #f5f5f5 43%, #ffffff 44%, #ffffff 50%, #f5f5f5 51%, #f5f5f5 63%, #ffffff 64%, #ffffff 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, #ffffff 5%, #f5f5f5 6%, #f5f5f5 15%, #ffffff 16%, #ffffff 20%, #f5f5f5 21%, #f5f5f5 30%, #ffffff 31%, #ffffff 35%, #f5f5f5 36%, #f5f5f5 45%, #ffffff 46%, #ffffff 49%, transparent 50%, transparent), radial-gradient(circle at 0 50%, #ffffff 5%, #f5f5f5 6%, #f5f5f5 15%, #ffffff 16%, #ffffff 20%, #f5f5f5 21%, #f5f5f5 30%, #ffffff 31%, #ffffff 35%, #f5f5f5 36%, #f5f5f5 45%, #ffffff 46%, #ffffff 49%, transparent 50%, transparent);
  background-size: 100px 50px;
  /* END .time-nav */
  /* END .listing */
}
/* line 272, ../scss/style.scss */
article .time-nav {
  float: left;
  clear: both;
  width: 90%;
  margin-left: 5%;
  background-color: white;
}
/* line 279, ../scss/style.scss */
article .time-nav .older,
article .time-nav .newer {
  padding: 1rem;
  border: 1px solid #e1e1e1;
}
/* line 282, ../scss/style.scss */
article .time-nav .older span,
article .time-nav .newer span {
  display: block;
  font-size: 1.1rem;
  line-height: normal;
}
/* line 287, ../scss/style.scss */
article .time-nav .older svg,
article .time-nav .newer svg {
  display: none;
}
/* line 289, ../scss/style.scss */
html.inlinesvg article .time-nav .older svg, html.inlinesvg
article .time-nav .newer svg {
  display: block;
}
/* line 291, ../scss/style.scss */
html.inlinesvg article .time-nav .older svg path, html.inlinesvg
article .time-nav .newer svg path {
  fill: #2d5f83;
}
/* line 293, ../scss/style.scss */
html.inlinesvg article .time-nav .older:hover, html.inlinesvg
article .time-nav .newer:hover {
  border-color: #ae613b;
}
/* line 295, ../scss/style.scss */
html.inlinesvg article .time-nav .older:hover svg path, html.inlinesvg
article .time-nav .newer:hover svg path {
  fill: #ae613b;
}
/* line 303, ../scss/style.scss */
article section {
  float: left;
  clear: both;
  box-sizing: border-box;
  width: 100%;
  margin: 1.5rem 0px;
}
/* line 309, ../scss/style.scss */
article section:first-of-type {
  margin-top: 0px;
}
/* line 310, ../scss/style.scss */
article section .thumbnail-container {
  float: left;
  clear: both;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  background-color: #000;
}
/* line 320, ../scss/style.scss */
article section .text-container {
  float: left;
  clear: both;
  box-sizing: border-box;
  background-color: white;
  width: 90%;
  margin-left: 5%;
  padding: 1rem 20px;
  margin-top: -60px;
  border-radius: 8px;
}
/* line 330, ../scss/style.scss */
article section .text-container .entry-meta-container {
  font-size: .9rem;
}
/* line 332, ../scss/style.scss */
article section .text-container .entry-meta-container .date {
  text-transform: uppercase;
}
/* line 339, ../scss/style.scss */
article.listing {
  /* END .time-nav */
}
/* line 340, ../scss/style.scss */
article.listing .time-nav {
  margin-bottom: 1rem;
}
/* line 342, ../scss/style.scss */
article.listing .time-nav:first-child {
  margin-top: 1.5rem;
}
/* line 345, ../scss/style.scss */
article.listing .time-nav a {
  display: block;
}
/* line 346, ../scss/style.scss */
article.listing .time-nav a:after {
  clear: both;
  content: '';
  visibility: hidden;
  display: block;
  height: 0px;
}
/* line 353, ../scss/style.scss */
article.listing .time-nav .older, article.listing .time-nav .newer {
  margin: 0px auto;
}
/* line 355, ../scss/style.scss */
article.listing .time-nav .older span, article.listing .time-nav .newer span {
  width: 100%;
  text-align: center;
}
/* line 359, ../scss/style.scss */
article.listing .time-nav .older svg, article.listing .time-nav .newer svg {
  margin: 0px auto;
  max-width: 12%;
}
/* line 365, ../scss/style.scss */
article.listing .time-nav .newer svg {
  margin-top: 4px;
  margin-bottom: .5rem;
}
/* line 371, ../scss/style.scss */
article.listing .time-nav .older svg {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  /* flip the image vertically */
  margin-top: .5rem;
}
/* line 376, ../scss/style.scss */
article.listing .time-nav:first-of-type .older {
  display: none;
}
/* line 377, ../scss/style.scss */
article.listing .time-nav:last-of-type .newer {
  display: none;
}
/* line 380, ../scss/style.scss */
article.listing section {
  width: 100%;
}
/* line 382, ../scss/style.scss */
article.listing section .text-container {
  border: 1px solid #e1e1e1;
}
/* line 384, ../scss/style.scss */
article.listing section .text-container h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: normal;
  margin: 0px 0px 1rem 0px;
}
/* line 390, ../scss/style.scss */
article.listing section .text-container p {
  font-size: 1rem;
}

/* END article */
/* line 403, ../scss/style.scss */
.sidebar-container aside.gaming-links li {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px auto;
  padding-left: 40px;
  min-height: 30px;
}
/* line 409, ../scss/style.scss */
.sidebar-container aside.gaming-links li.blizzard {
  background-image: url("images/icon-battlenet.png");
}

/* line 416, ../scss/style.scss */
footer {
  padding: 2rem 0px;
  border-top: 1px solid #e1e1e1;
}
/* line 419, ../scss/style.scss */
footer .copyright {
  font-size: .8rem;
  line-height: normal;
  font-weight: normal;
  margin: 0px;
  text-align: center;
}
/* line 425, ../scss/style.scss */
footer .copyright a {
  color: inherit;
}
/* line 427, ../scss/style.scss */
footer .copyright a:hover {
  color: #ae613b;
}

@media only screen and (min-width: 768px) {
  /* line 433, ../scss/style.scss */
  header {
    position: fixed;
  }

  /* line 436, ../scss/style.scss */
  article {
    padding: 4rem 0px;
  }
}
@media only screen and (min-width: 1060px) {
  /* line 448, ../scss/style.scss */
  a {
    text-shadow: 0 0 1px rgba(111, 134, 134, 0.3);
  }
  /* line 450, ../scss/style.scss */
  a.special::before {
    color: #ae613b;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
  }
  /* line 466, ../scss/style.scss */
  a.special:hover::before, a.special:focus::before {
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
  }

  /* line 474, ../scss/style.scss */
  h1 {
    font-size: 48px;
  }

  /* line 480, ../scss/style.scss */
  article section .text-container {
    padding: 1.5rem 40px;
  }
}
/* --- Sub-Theme Customization --- */
/* SCSS Variables */
