/* line 8, ../scss/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background-repeat: no-repeat;
}

/* remember to define focus styles! */
/* line 21, ../scss/style.scss */
:focus {
  outline: 0;
}

/* line 24, ../scss/style.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 29, ../scss/style.scss */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 33, ../scss/style.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 37, ../scss/style.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 42, ../scss/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 45, ../scss/style.scss */
blockquote, q {
  quotes: "" "";
}

/* -- Formatting Shortcuts -- */
/* line 49, ../scss/style.scss */
.clear {
  clear: both;
}

/* line 50, ../scss/style.scss */
.margin0 {
  margin: 0px;
}

/* line 51, ../scss/style.scss */
.top0 {
  margin-top: 0px;
}

/* line 52, ../scss/style.scss */
.bot0 {
  margin-bottom: 0px;
}

/* line 53, ../scss/style.scss */
.bold {
  font-weight: bold;
}

/* line 54, ../scss/style.scss */
.allcaps {
  text-transform: uppercase;
}

/* line 55, ../scss/style.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 56, ../scss/style.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 57, ../scss/style.scss */
.hidden {
  display: none;
}

/* SCSS Variables */
/* line 78, ../scss/style.scss */
body {
  font-family: 'Arimo', sans-serif;
  overflow-x: hidden;
  background-color: #e3e8ec;
  background-image: -webkit-radial-gradient(100% 150%, circle, #e3e8ec 24%, #f2f9ff 25%, #f2f9ff 28%, #e3e8ec 29%, #e3e8ec 36%, #f2f9ff 36%, #f2f9ff 40%, transparent 40%, transparent), -webkit-radial-gradient(0 150%, circle, #e3e8ec 24%, #f2f9ff 25%, #f2f9ff 28%, #e3e8ec 29%, #e3e8ec 36%, #f2f9ff 36%, #f2f9ff 40%, transparent 40%, transparent), -webkit-radial-gradient(50% 100%, circle, #f2f9ff 10%, #e3e8ec 11%, #e3e8ec 23%, #f2f9ff 24%, #f2f9ff 30%, #e3e8ec 31%, #e3e8ec 43%, #f2f9ff 44%, #f2f9ff 50%, #e3e8ec 51%, #e3e8ec 63%, #f2f9ff 64%, #f2f9ff 71%, transparent 71%, transparent), -webkit-radial-gradient(100% 50%, circle, #f2f9ff 5%, #e3e8ec 6%, #e3e8ec 15%, #f2f9ff 16%, #f2f9ff 20%, #e3e8ec 21%, #e3e8ec 30%, #f2f9ff 31%, #f2f9ff 35%, #e3e8ec 36%, #e3e8ec 45%, #f2f9ff 46%, #f2f9ff 49%, transparent 50%, transparent), -webkit-radial-gradient(0 50%, circle, #f2f9ff 5%, #e3e8ec 6%, #e3e8ec 15%, #f2f9ff 16%, #f2f9ff 20%, #e3e8ec 21%, #e3e8ec 30%, #f2f9ff 31%, #f2f9ff 35%, #e3e8ec 36%, #e3e8ec 45%, #f2f9ff 46%, #f2f9ff 49%, transparent 50%, transparent);
  background-image: radial-gradient(circle at 100% 150%, #e3e8ec 24%, #f2f9ff 25%, #f2f9ff 28%, #e3e8ec 29%, #e3e8ec 36%, #f2f9ff 36%, #f2f9ff 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, #e3e8ec 24%, #f2f9ff 25%, #f2f9ff 28%, #e3e8ec 29%, #e3e8ec 36%, #f2f9ff 36%, #f2f9ff 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, #f2f9ff 10%, #e3e8ec 11%, #e3e8ec 23%, #f2f9ff 24%, #f2f9ff 30%, #e3e8ec 31%, #e3e8ec 43%, #f2f9ff 44%, #f2f9ff 50%, #e3e8ec 51%, #e3e8ec 63%, #f2f9ff 64%, #f2f9ff 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, #f2f9ff 5%, #e3e8ec 6%, #e3e8ec 15%, #f2f9ff 16%, #f2f9ff 20%, #e3e8ec 21%, #e3e8ec 30%, #f2f9ff 31%, #f2f9ff 35%, #e3e8ec 36%, #e3e8ec 45%, #f2f9ff 46%, #f2f9ff 49%, transparent 50%, transparent), radial-gradient(circle at 0 50%, #f2f9ff 5%, #e3e8ec 6%, #e3e8ec 15%, #f2f9ff 16%, #f2f9ff 20%, #e3e8ec 21%, #e3e8ec 30%, #f2f9ff 31%, #f2f9ff 35%, #e3e8ec 36%, #e3e8ec 45%, #f2f9ff 46%, #f2f9ff 49%, transparent 50%, transparent);
  background-size: 100px 50px;
}
/* line 89, ../scss/style.scss */
body.category-pro {
  background-color: #212b34;
  background-image: -webkit-radial-gradient(100% 150%, circle, #212b34 24%, #05101a 25%, #05101a 28%, #212b34 29%, #212b34 36%, #05101a 36%, #05101a 40%, transparent 40%, transparent), -webkit-radial-gradient(0 150%, circle, #212b34 24%, #05101a 25%, #05101a 28%, #212b34 29%, #212b34 36%, #05101a 36%, #05101a 40%, transparent 40%, transparent), -webkit-radial-gradient(50% 100%, circle, #05101a 10%, #212b34 11%, #212b34 23%, #05101a 24%, #05101a 30%, #212b34 31%, #212b34 43%, #05101a 44%, #05101a 50%, #212b34 51%, #212b34 63%, #05101a 64%, #05101a 71%, transparent 71%, transparent), -webkit-radial-gradient(100% 50%, circle, #05101a 5%, #212b34 6%, #212b34 15%, #05101a 16%, #05101a 20%, #212b34 21%, #212b34 30%, #05101a 31%, #05101a 35%, #212b34 36%, #212b34 45%, #05101a 46%, #05101a 49%, transparent 50%, transparent), -webkit-radial-gradient(0 50%, circle, #05101a 5%, #212b34 6%, #212b34 15%, #05101a 16%, #05101a 20%, #212b34 21%, #212b34 30%, #05101a 31%, #05101a 35%, #212b34 36%, #212b34 45%, #05101a 46%, #05101a 49%, transparent 50%, transparent);
  background-image: radial-gradient(circle at 100% 150%, #212b34 24%, #05101a 25%, #05101a 28%, #212b34 29%, #212b34 36%, #05101a 36%, #05101a 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, #212b34 24%, #05101a 25%, #05101a 28%, #212b34 29%, #212b34 36%, #05101a 36%, #05101a 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, #05101a 10%, #212b34 11%, #212b34 23%, #05101a 24%, #05101a 30%, #212b34 31%, #212b34 43%, #05101a 44%, #05101a 50%, #212b34 51%, #212b34 63%, #05101a 64%, #05101a 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, #05101a 5%, #212b34 6%, #212b34 15%, #05101a 16%, #05101a 20%, #212b34 21%, #212b34 30%, #05101a 31%, #05101a 35%, #212b34 36%, #212b34 45%, #05101a 46%, #05101a 49%, transparent 50%, transparent), radial-gradient(circle at 0 50%, #05101a 5%, #212b34 6%, #212b34 15%, #05101a 16%, #05101a 20%, #212b34 21%, #212b34 30%, #05101a 31%, #05101a 35%, #212b34 36%, #212b34 45%, #05101a 46%, #05101a 49%, transparent 50%, transparent);
}

/* starting points */
/* line 101, ../scss/style.scss */
a {
  color: #2d5f83;
  text-decoration: none;
}
/* line 104, ../scss/style.scss */
a:hover {
  color: #ae613b;
}

/* line 108, ../scss/style.scss */
a.button {
  border: 1px solid #2d5f83;
  padding: .4rem 1rem;
  white-space: nowrap;
}
/* line 112, ../scss/style.scss */
a.button:hover {
  border-color: #ae613b;
}

/* line 115, ../scss/style.scss */
.screen-reader-text {
  visibility: hidden;
}

/* line 119, ../scss/style.scss */
h1 {
  font-size: 2.1rem;
  line-height: 2.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
/* line 124, ../scss/style.scss */
.category-pro h1 {
  color: #f2f9ff;
}

/* line 128, ../scss/style.scss */
h2 {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: normal;
  margin-bottom: .5rem;
}
/* line 133, ../scss/style.scss */
.category-pro h2 {
  color: #f2f9ff;
}

/* line 137, ../scss/style.scss */
h3 {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: bold;
  margin-bottom: .5rem;
}
/* line 142, ../scss/style.scss */
.category-pro h3 {
  color: #f2f9ff;
}

/* line 146, ../scss/style.scss */
h4 {
  font-size: 1rem;
  line-height: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5rem;
}
/* line 152, ../scss/style.scss */
.category-pro h4 {
  color: #f2f9ff;
}

/* line 156, ../scss/style.scss */
p, li {
  font-size: 1.1rem;
}
/* line 158, ../scss/style.scss */
.category-pro p, .category-pro li {
  color: #f2f9ff;
}

/* line 162, ../scss/style.scss */
p {
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

/* line 166, ../scss/style.scss */
.form p {
  line-height: normal;
  margin-bottom: .8rem;
}

/* line 170, ../scss/style.scss */
li {
  line-height: 1.3rem;
  margin-bottom: .7rem;
}
/* line 173, ../scss/style.scss */
li:last-child {
  margin-bottom: 0px;
}

/* line 175, ../scss/style.scss */
ul, ol {
  margin-bottom: 2rem;
}
/* line 178, ../scss/style.scss */
ul li ul, ul li ol, ol li ul, ol li ol {
  padding: .7rem 0px;
  margin: .7rem 0px 1rem 0px;
  border-top: 1px solid #cbd0d5;
  border-bottom: 1px solid #cbd0d5;
}
/* line 183, ../scss/style.scss */
.category-pro ul li ul, .category-pro ul li ol, .category-pro ol li ul, .category-pro ol li ol {
  border-color: #39424b;
}

/* line 189, ../scss/style.scss */
hr {
  margin: 2rem auto;
  width: 60%;
  border: none;
  border-top: 1px solid #7d848b;
}

/* line 195, ../scss/style.scss */
table {
  border-collapse: collapse;
  font-size: .9rem;
  line-height: 1.2rem;
  max-width: 100%;
  margin-bottom: 3rem;
}
/* line 201, ../scss/style.scss */
table th, table td {
  padding: .5rem;
  border: 1px solid #7d848b;
}
/* line 205, ../scss/style.scss */
table th {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 210, ../scss/style.scss */
.category-pro table {
  color: #f2f9ff;
}

/* line 214, ../scss/style.scss */
strong {
  font-weight: bold;
}

/* line 217, ../scss/style.scss */
em {
  font-style: italic;
}

/* line 220, ../scss/style.scss */
del {
  color: #7d848b;
}

/* line 223, ../scss/style.scss */
input, select, textarea {
  max-width: 100%;
}

/* detailed layout begins */
/* line 226, ../scss/style.scss */
.total-wrapper {
  max-width: 100%;
}
/* line 228, ../scss/style.scss */
.total-wrapper img {
  max-width: 100%;
  height: auto;
}

/* line 234, ../scss/style.scss */
.container {
  float: left;
  clear: both;
  width: 100%;
}
/* line 238, ../scss/style.scss */
.container .inner {
  width: 90%;
  margin: 0px auto;
}
/* line 241, ../scss/style.scss */
.container .inner:after {
  clear: both;
  content: '';
  visibility: hidden;
  display: block;
  height: 0px;
}

@media only screen and (min-width: 1060px) {
  /* line 254, ../scss/style.scss */
  .container .inner,
  .sidebar-container .inner {
    width: 1000px;
    margin: 0px auto;
  }
}
@-webkit-keyframes animated-header {
  /* line 262, ../scss/style.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 265, ../scss/style.scss */
  to {
    -webkit-transform: translateX(-100%);
  }
}

/* line 270, ../scss/style.scss */
header {
  background-color: #f2f9ff;
  border-bottom: 1px solid #cbd0d5;
  /* END .header-logo */
}
/* line 273, ../scss/style.scss */
header .bg-container {
  position: relative;
}
/* line 275, ../scss/style.scss */
header .bg-container .bg-inner {
  width: 2560px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("images/header-unpro.jpg");
  background-repeat: repeat-x;
  background-position: 0% 0%;
  -webkit-animation-name: animated-header;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
/* line 293, ../scss/style.scss */
header .inner {
  padding: .75rem 0px;
}
/* line 294, ../scss/style.scss */
.category-pro header {
  background-color: #05101a;
  border-bottom: 1px solid #39424b;
}
/* line 297, ../scss/style.scss */
.category-pro header .bg-inner {
  background-image: url("images/header-pro.jpg");
}
/* line 301, ../scss/style.scss */
header .header-logo {
  float: left;
  clear: left;
  max-width: 40%;
  margin-top: 1.5rem;
}
/* line 307, ../scss/style.scss */
header .header-logo a svg {
  display: none;
}
/* line 309, ../scss/style.scss */
html.inlinesvg header .header-logo a img {
  display: none;
}
/* line 310, ../scss/style.scss */
html.inlinesvg header .header-logo a svg {
  display: block;
  width: auto;
  height: 60px;
}
/* line 314, ../scss/style.scss */
html.inlinesvg header .header-logo a svg path {
  fill: #2d5f83;
}
/* line 318, ../scss/style.scss */
html.inlinesvg header .header-logo a:hover svg path {
  fill: #ae613b;
}
/* line 325, ../scss/style.scss */
header .subsection-logo {
  float: left;
  clear: none;
  font-family: 'Oxygen', 'Arimo', sans-serif;
  font-size: 2.7rem;
  line-height: normal;
  color: #7d848b;
  font-weight: normal;
  margin-top: 10px;
  margin-left: 16px;
}
/* line 336, ../scss/style.scss */
.category-personal header .subsection-logo:before {
  content: ": unPro";
}
/* line 341, ../scss/style.scss */
.category-pro header .subsection-logo:before {
  content: ": Pro";
}
/* line 348, ../scss/style.scss */
header .search-container {
  float: right;
  clear: right;
  width: 40px;
  height: 40px;
  background-image: url("images/search-grey.png");
  background-color: #e3e8ec;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: 8px;
  cursor: pointer;
}
/* line 359, ../scss/style.scss */
header .search-container:hover {
  background-image: url("images/search-white.png");
  background-color: #ae613b;
}
/* line 363, ../scss/style.scss */
.category-pro header .search-container {
  background-color: #212b34;
  border-radius: 0px;
}
/* line 366, ../scss/style.scss */
.category-pro header .search-container:hover {
  background-color: #ae613b;
}
/* line 368, ../scss/style.scss */
header .search-container label {
  display: none;
}
/* line 369, ../scss/style.scss */
header .search-container input {
  box-sizing: border-box;
  width: 0px;
  padding: 0px;
  height: 40px;
  border: 0px;
  background-color: #fff;
  /* pure white */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* line 378, ../scss/style.scss */
header .search-container input#s {
  cursor: default;
}
/* line 381, ../scss/style.scss */
header .search-container input#searchsubmit {
  text-indent: -9999px;
  background-color: transparent;
  cursor: pointer;
}
/* line 385, ../scss/style.scss */
header .search-container input#searchsubmit:hover {
  background-color: rgba(242, 249, 255, 0.2);
}
/* line 389, ../scss/style.scss */
header .menu-container {
  float: right;
  clear: right;
  width: 40px;
  height: 40px;
  background-image: url("images/menu-grey.png");
  background-color: #e3e8ec;
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
  margin-top: .75rem;
}
/* line 402, ../scss/style.scss */
.category-pro header .menu-container {
  background-color: #212b34;
  border-radius: 0px;
}
/* line 406, ../scss/style.scss */
header .menu-container.open {
  background-image: url("images/menu-white.png");
  background-color: #2d5f83;
  border-color: #2d5f83;
}
/* line 411, ../scss/style.scss */
header .menu-container:hover {
  background-image: url("images/menu-white.png");
  background-color: #ae613b;
  border-color: #ae613b;
}
/* line 416, ../scss/style.scss */
header .menu-container .inner-menu {
  display: none;
  position: absolute;
  box-sizing: border-box;
  margin-top: 34px;
  right: 5%;
  width: 90%;
  background-color: #fff;
  border: 1px solid #7d848b;
}
/* line 425, ../scss/style.scss */
header .menu-container .inner-menu ul {
  margin: 0px;
}
/* line 427, ../scss/style.scss */
header .menu-container .inner-menu ul li {
  float: left;
  clear: left;
  box-sizing: border-box;
  margin-bottom: 0px;
  width: 50%;
  min-height: 0px;
  padding: 1.5rem;
  background-image: none;
  background-color: #000;
  color: #fff;
}
/* line 438, ../scss/style.scss */
header .menu-container .inner-menu ul li:nth-child(even) {
  background-color: #fff;
  color: #000;
}
/* line 442, ../scss/style.scss */
header .menu-container .inner-menu ul li a {
  display: block;
}
/* line 444, ../scss/style.scss */
header .menu-container .inner-menu ul li a:first-child {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #7d848b;
}
/* line 452, ../scss/style.scss */
header .menu-container .inner-menu ul li:nth-child(even) {
  clear: right;
}
/* line 455, ../scss/style.scss */
header .menu-container .inner-menu ul li ul {
  padding: 0px;
  border: none;
}
/* line 458, ../scss/style.scss */
header .menu-container .inner-menu ul li ul li, header .menu-container .inner-menu ul li ul li:nth-child(even) {
  float: left;
  clear: both;
  width: 100%;
  padding: 0px;
  margin-left: 0px;
  margin-bottom: 1rem;
  background-color: transparent;
}
/* line 466, ../scss/style.scss */
header .menu-container .inner-menu ul li ul li a:first-child, header .menu-container .inner-menu ul li ul li:nth-child(even) a:first-child {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 0px;
  padding: 0px;
  border: 0px;
}
/* line 473, ../scss/style.scss */
header .menu-container .inner-menu ul li ul li ul, header .menu-container .inner-menu ul li ul li:nth-child(even) ul {
  display: none;
}
/* line 475, ../scss/style.scss */
header .menu-container .inner-menu ul li ul li:last-child {
  margin-bottom: 0px;
}

/* line 483, ../scss/style.scss */
article {
  padding: 0px 0px 2rem 0px;
}

/* END article */
/* line 487, ../scss/style.scss */
.time-nav {
  float: left;
  clear: both;
  width: 90%;
  margin-left: 5%;
  background-color: #f2f9ff;
}
/* line 493, ../scss/style.scss */
.category-pro .time-nav {
  background-color: #05101a;
}
/* line 497, ../scss/style.scss */
.time-nav .older,
.time-nav .newer {
  padding: 1rem;
  background-color: #e3e8ec;
}
/* line 500, ../scss/style.scss */
.category-pro .time-nav .older, .category-pro
.time-nav .newer {
  background-color: #212b34;
}
/* line 503, ../scss/style.scss */
.time-nav .older span,
.time-nav .newer span {
  display: block;
  font-size: 1.1rem;
  line-height: normal;
}
/* line 508, ../scss/style.scss */
.time-nav .older svg,
.time-nav .newer svg {
  display: none;
}
/* line 510, ../scss/style.scss */
html.inlinesvg .time-nav .older svg, html.inlinesvg
.time-nav .newer svg {
  display: block;
}
/* line 512, ../scss/style.scss */
html.inlinesvg .time-nav .older svg path, html.inlinesvg
.time-nav .newer svg path {
  fill: #2d5f83;
}
/* line 514, ../scss/style.scss */
html.inlinesvg .time-nav .older:hover, html.inlinesvg
.time-nav .newer:hover {
  border-color: #ae613b;
}
/* line 516, ../scss/style.scss */
html.inlinesvg .time-nav .older:hover svg path, html.inlinesvg
.time-nav .newer:hover svg path {
  fill: #ae613b;
}
/* line 522, ../scss/style.scss */
.single .time-nav {
  width: 100%;
  margin: 2rem 0px 2rem 0px;
}
/* line 525, ../scss/style.scss */
.single .time-nav h3 {
  width: 92%;
  margin: 0px auto;
}
/* line 530, ../scss/style.scss */
.single .time-nav .older,
.single .time-nav .newer {
  padding: 0px;
  border: none;
}
/* line 534, ../scss/style.scss */
.single .time-nav a {
  display: block;
  box-sizing: border-box;
  width: 92%;
  padding: .9rem;
  border-top-left-radius: 15px;
  background-size: 20px;
  min-height: 80px;
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin: 0px 0px 2rem 0px;
  background-color: #e3e8ec;
}
/* line 546, ../scss/style.scss */
.category-pro .single .time-nav a {
  background-color: #212b34;
}
/* line 549, ../scss/style.scss */
.single .time-nav a:hover {
  color: #fff;
  background-color: #ae613b;
  border-color: #ae613b;
}
/* line 555, ../scss/style.scss */
.single .time-nav .older a {
  float: right;
  background-image: url("images/ring-left.png");
  background-position: 3% center;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 50px;
  margin-right: 4%;
}
/* line 566, ../scss/style.scss */
.single .time-nav .newer a {
  float: left;
  background-image: url("images/ring-right.png");
  background-position: 97% center;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-right: 50px;
  text-align: right;
  margin-left: 4%;
}

/* END .time-nav */
@media only screen and (min-width: 768px) {
  /* line 582, ../scss/style.scss */
  .single .time-nav {
    float: none;
    clear: none;
    width: 600px;
    display: block;
    margin: 2rem auto;
  }
  /* line 588, ../scss/style.scss */
  .single .time-nav:before, .single .time-nav:after {
    clear: both;
    content: '';
    visibility: hidden;
    display: block;
    height: 0px;
  }
  /* line 595, ../scss/style.scss */
  .single .time-nav a {
    font-size: 2rem;
    line-height: 2.3rem;
    padding: .7rem;
  }
}
/* line 604, ../scss/style.scss */
section {
  float: left;
  clear: both;
  box-sizing: border-box;
  width: 100%;
  margin: 2rem 0px;
}
/* line 610, ../scss/style.scss */
section:first-of-type {
  margin-top: 0px;
}
/* line 611, ../scss/style.scss */
section.error404 {
  margin-top: 40px;
}
/* line 614, ../scss/style.scss */
section .thumbnail-container {
  float: left;
  clear: both;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 100% auto;
  background-color: #cbd0d5;
}
/* line 623, ../scss/style.scss */
.category-pro section .thumbnail-container {
  background-color: #39424b;
}

/* END section */
@media only screen and (min-width: 920px) {
  /* line 631, ../scss/style.scss */
  section .thumbnail-container {
    border-radius: 16px;
  }
  /* line 633, ../scss/style.scss */
  .category-pro section .thumbnail-container {
    border-radius: 0px;
  }

  /* END section */
}
/* line 639, ../scss/style.scss */
.text-container {
  float: left;
  clear: both;
  box-sizing: border-box;
  background-color: #f2f9ff;
  width: 90%;
  margin-left: 5%;
  padding: 1rem 20px;
  margin-top: -60px;
  border: 1px solid #cbd0d5;
  border-radius: 8px;
}
/* line 650, ../scss/style.scss */
.category-pro .text-container {
  background-color: #05101a;
  border: 1px solid #39424b;
  border-radius: 0px;
}

/* .text-container */
@media only screen and (min-width: 768px) {
  /* line 658, ../scss/style.scss */
  .text-container {
    border-radius: 16px;
  }
}
/* line 663, ../scss/style.scss */
.entry-meta-container {
  float: left;
  clear: both;
  width: 100%;
}
/* line 667, ../scss/style.scss */
.entry-meta-container p {
  font-size: .9rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
}
/* line 671, ../scss/style.scss */
.entry-meta-container p span {
  font-size: 1.1rem;
  text-transform: none;
}
/* line 676, ../scss/style.scss */
.entry-meta-container .date, .entry-meta-container .categories {
  float: left;
  clear: left;
}
/* line 680, ../scss/style.scss */
.entry-meta-container .comments-exist {
  float: right;
  clear: right;
}
/* line 683, ../scss/style.scss */
.entry-meta-container .comments-exist a {
  display: block;
  color: #fff;
  background-color: #2d5f83;
  border-radius: 16px;
  padding: 6px 16px;
}
/* line 689, ../scss/style.scss */
.entry-meta-container .comments-exist a:hover {
  background-color: #ae613b;
}

/* line 696, ../scss/style.scss */
.single .entry-meta-container:nth-of-type(3) {
  margin-bottom: 2.5rem;
}

/* line 700, ../scss/style.scss */
.listing {
  /* END .time-nav */
}
/* line 701, ../scss/style.scss */
.listing .time-nav {
  margin-bottom: 1rem;
  background-color: transparent;
}
/* line 704, ../scss/style.scss */
.listing .time-nav:first-child {
  margin-top: 1.5rem;
}
/* line 707, ../scss/style.scss */
.listing .time-nav a {
  display: block;
}
/* line 708, ../scss/style.scss */
.listing .time-nav a:after {
  clear: both;
  content: '';
  visibility: hidden;
  display: block;
  height: 0px;
}
/* line 715, ../scss/style.scss */
.listing .time-nav .older, .listing .time-nav .newer {
  margin: 0px auto;
  border-radius: 16px;
}
/* line 718, ../scss/style.scss */
.category-pro .listing .time-nav .older, .category-pro .listing .time-nav .newer {
  border-radius: 0px;
}
/* line 719, ../scss/style.scss */
.listing .time-nav .older span, .listing .time-nav .newer span {
  width: 100%;
  text-align: center;
}
/* line 723, ../scss/style.scss */
.listing .time-nav .older svg, .listing .time-nav .newer svg {
  margin: 0px auto;
  max-width: 12%;
}
/* line 729, ../scss/style.scss */
.listing .time-nav .newer svg {
  margin-top: 4px;
  margin-bottom: .5rem;
}
/* line 735, ../scss/style.scss */
.listing .time-nav .older svg {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  /* flip the image vertically */
  margin-top: .5rem;
}
/* line 740, ../scss/style.scss */
.listing .time-nav:first-of-type .older {
  display: none;
}
/* line 741, ../scss/style.scss */
.listing .time-nav:last-of-type .newer {
  display: none;
}
/* line 744, ../scss/style.scss */
.listing section {
  width: 100%;
}
/* line 747, ../scss/style.scss */
.listing section .text-container h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: normal;
  margin: 0px 0px .5rem 0px;
}
/* line 753, ../scss/style.scss */
.listing section .text-container p {
  font-size: 1rem;
}

/* END .listing */
@media only screen and (min-width: 1060px) {
  /* line 762, ../scss/style.scss */
  .listing {
    float: none;
    width: 1000px;
    margin: 0px auto;
  }
  /* line 766, ../scss/style.scss */
  .listing .time-nav {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  /* line 769, ../scss/style.scss */
  .listing .time-nav:last-of-type {
    margin-bottom: 3rem;
  }
  /* line 773, ../scss/style.scss */
  .listing .time-nav .older svg, .listing .time-nav .newer svg {
    width: 60px;
  }
}
/* line 781, ../scss/style.scss */
.single {
  /* .entry-content */
}
/* line 782, ../scss/style.scss */
.single .text-container {
  margin: 30px 0px;
  width: 100%;
}
/* line 786, ../scss/style.scss */
.single .entry-content {
  padding-bottom: 2rem;
  border-bottom: 1px solid #7d848b;
  margin-bottom: .5rem;
}
/* line 791, ../scss/style.scss */
.single .entry-content p a, .single .entry-content li a {
  border: 1px solid #2d5f83;
  padding: .2rem;
  white-space: nowrap;
}
/* line 795, ../scss/style.scss */
.single .entry-content p a:hover, .single .entry-content li a:hover {
  border-color: #ae613b;
}
/* line 796, ../scss/style.scss */
.single .entry-content p a.img-container, .single .entry-content li a.img-container {
  border: none;
  padding: 0px;
}
/* line 802, ../scss/style.scss */
.single .entry-content h2, .single .entry-content h3 {
  margin-top: 3rem;
}
/* line 804, ../scss/style.scss */
.single .entry-content h2:before, .single .entry-content h3:before {
  clear: both;
  content: '';
  visibility: hidden;
  display: block;
  height: 0px;
}
/* line 812, ../scss/style.scss */
.single .entry-content ul {
  padding-left: 40px;
  list-style-type: circle;
}
/* line 815, ../scss/style.scss */
.category-pro .single .entry-content ul {
  list-style-type: square;
}
/* line 817, ../scss/style.scss */
.category-pro .single .entry-content ul ul {
  list-style-type: disc;
}
/* line 819, ../scss/style.scss */
.single .entry-content ul ul {
  padding-left: 36px;
  list-style-type: disc;
}
/* line 824, ../scss/style.scss */
.single .entry-content ol {
  padding-left: 46px;
  list-style-type: decimal-leading-zero;
}
/* line 827, ../scss/style.scss */
.single .entry-content ol ol {
  padding-left: 26px;
  list-style-type: upper-alpha;
}
/* line 830, ../scss/style.scss */
.single .entry-content ol ol ol {
  list-style-type: lower-roman;
}
/* line 832, ../scss/style.scss */
.single .entry-content ol ol ol ol {
  list-style-type: lower-alpha;
}
/* line 839, ../scss/style.scss */
.single .attachment-post-thumbnail {
  margin: 1rem auto;
}

/* .single */
/* line 844, ../scss/style.scss */
.aligncenter, .alignright, .alignleft, .img-container {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0px auto 3rem auto;
}
/* line 848, ../scss/style.scss */
.aligncenter *, .alignright *, .alignleft *, .img-container * {
  max-width: 100%;
}
/* line 849, ../scss/style.scss */
.aligncenter a, .alignright a, .alignleft a, .img-container a {
  display: block;
  border: none;
  padding: 0px;
  white-space: normal;
}
/* line 855, ../scss/style.scss */
.aligncenter a:after, .alignright a:after, .alignleft a:after, .img-container a:after {
  clear: both;
  content: '';
  visibility: hidden;
  display: block;
  height: 0px;
}
/* line 862, ../scss/style.scss */
.aligncenter img, .alignright img, .alignleft img, .img-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 867, ../scss/style.scss */
.aligncenter.wp-caption, .alignright.wp-caption, .alignleft.wp-caption, .img-container.wp-caption {
  padding: .5rem;
  background-color: #e3e8ec;
  border: 1px solid #cbd0d5;
  margin-bottom: 3rem;
}
/* line 872, ../scss/style.scss */
.category-pro .aligncenter.wp-caption, .category-pro .alignright.wp-caption, .category-pro .alignleft.wp-caption, .category-pro .img-container.wp-caption {
  background-color: #212b34;
  border-color: #39424b;
}
/* line 876, ../scss/style.scss */
.aligncenter.wp-caption img, .alignright.wp-caption img, .alignleft.wp-caption img, .img-container.wp-caption img {
  border: 1px solid #cbd0d5;
}
/* line 878, ../scss/style.scss */
.category-pro .aligncenter.wp-caption img, .category-pro .alignright.wp-caption img, .category-pro .alignleft.wp-caption img, .category-pro .img-container.wp-caption img {
  border-color: #39424b;
}
/* line 882, ../scss/style.scss */
.aligncenter.wp-caption p, .alignright.wp-caption p, .alignleft.wp-caption p, .img-container.wp-caption p {
  font-size: .8rem;
  line-height: 1rem;
  color: #212b34;
  text-align: center;
  margin: .5rem 0px 0px 0px;
}
/* line 888, ../scss/style.scss */
.category-pro .aligncenter.wp-caption p, .category-pro .alignright.wp-caption p, .category-pro .alignleft.wp-caption p, .category-pro .img-container.wp-caption p {
  color: #e3e8ec;
}

/* line 894, ../scss/style.scss */
.img-container {
  display: block;
  border: none;
  padding: 0px;
}
/* line 899, ../scss/style.scss */
.img-container img.alignleft {
  margin-right: 2rem;
}
/* line 900, ../scss/style.scss */
.img-container img.alignright {
  margin-left: 2rem;
}

@media only screen and (min-width: 1060px) {
  /* line 905, ../scss/style.scss */
  .text-container {
    padding: 1.5rem 2.5rem;
  }

  /* line 909, ../scss/style.scss */
  .entry-meta-container p {
    font-size: 1rem;
    line-height: normal;
  }
  /* line 912, ../scss/style.scss */
  .entry-meta-container p span {
    font-size: 1.2rem;
  }

  /* line 919, ../scss/style.scss */
  .single .entry-content p, .single .entry-content li, .single .entry-content h3 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  /* line 923, ../scss/style.scss */
  .single .entry-content li {
    line-height: 1.7rem;
  }
  /* line 924, ../scss/style.scss */
  .single .entry-content h2 {
    font-size: 1.9rem;
    line-height: 2.2rem;
    margin-top: 2rem;
    margin-bottom: .8rem;
  }
  /* line 930, ../scss/style.scss */
  .single .entry-content h3 {
    margin-top: 2rem;
  }

  /* .single */
}
/* COMMENTS */
/* line 939, ../scss/style.scss */
#respond {
  float: left;
  clear: both;
  border-top: 1px solid #cbd0d5;
  padding-top: 2rem;
  width: 100%;
}
/* line 945, ../scss/style.scss */
.category-pro #respond {
  border-color: #39424b;
}

/* line 949, ../scss/style.scss */
.fbSEOComments {
  float: left;
  clear: both;
}

/* Sidebar */
/* line 957, ../scss/style.scss */
.sidebar-container {
  float: left;
  clear: both;
  margin-bottom: 2rem;
  width: 100%;
}
/* line 962, ../scss/style.scss */
.sidebar-container:after {
  clear: both;
  content: '';
  visibility: hidden;
  display: block;
  height: 0px;
}
/* line 969, ../scss/style.scss */
.sidebar-container aside {
  float: left;
  clear: left;
  width: 40%;
  margin-left: 5%;
}
/* line 974, ../scss/style.scss */
.sidebar-container aside:nth-child(even) {
  clear: right;
  margin-left: 10%;
}
/* line 978, ../scss/style.scss */
.sidebar-container aside h3 {
  margin-bottom: .5rem;
}
/* line 982, ../scss/style.scss */
.sidebar-container aside ul li {
  font-size: 1rem;
  line-height: normal;
  background-color: #f2f9ff;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px auto;
  padding: 6px 0px 0px 40px;
  box-sizing: border-box;
  /*      border: 1px solid $light2;  */
  border-radius: 8px;
  height: 30px;
  margin-bottom: .5rem;
}
/* line 995, ../scss/style.scss */
.category-pro .sidebar-container aside ul li {
  background-color: #05101a;
  border-radius: 0px;
}
/* line 999, ../scss/style.scss */
.sidebar-container aside ul li:last-child {
  margin-bottom: 0px;
}
/* line 1000, ../scss/style.scss */
.sidebar-container aside ul li.about {
  background-image: url("images/icon-about.png");
}
/* line 1002, ../scss/style.scss */
.sidebar-container aside ul li.about:hover {
  background-image: url("images/icon-about-hover.png");
}
/* line 1004, ../scss/style.scss */
.sidebar-container aside ul li.blizzard {
  background-image: url("images/icon-battlenet.png");
}
/* line 1006, ../scss/style.scss */
.sidebar-container aside ul li.blizzard:hover {
  background-image: url("images/icon-battlenet-hover.png");
}
/* line 1008, ../scss/style.scss */
.sidebar-container aside ul li.contact {
  background-image: url("images/icon-contact.png");
}
/* line 1010, ../scss/style.scss */
.sidebar-container aside ul li.contact:hover {
  background-image: url("images/icon-contact-hover.png");
}
/* line 1012, ../scss/style.scss */
.sidebar-container aside ul li.facebook {
  background-image: url("images/icon-facebook.png");
}
/* line 1014, ../scss/style.scss */
.sidebar-container aside ul li.facebook:hover {
  background-image: url("images/icon-facebook-hover.png");
}
/* line 1016, ../scss/style.scss */
.sidebar-container aside ul li.github {
  background-image: url("images/icon-github.png");
}
/* line 1018, ../scss/style.scss */
.sidebar-container aside ul li.github:hover {
  background-image: url("images/icon-github-hover.png");
}
/* line 1020, ../scss/style.scss */
.sidebar-container aside ul li.googleplus {
  background-image: url("images/icon-googleplus.png");
}
/* line 1022, ../scss/style.scss */
.sidebar-container aside ul li.googleplus:hover {
  background-image: url("images/icon-googleplus-hover.png");
}
/* line 1024, ../scss/style.scss */
.sidebar-container aside ul li.linkedin {
  background-image: url("images/icon-linkedin.png");
}
/* line 1026, ../scss/style.scss */
.sidebar-container aside ul li.linkedin:hover {
  background-image: url("images/icon-linkedin-hover.png");
}
/* line 1028, ../scss/style.scss */
.sidebar-container aside ul li.lol {
  background-image: url("images/icon-lol.png");
}
/* line 1030, ../scss/style.scss */
.sidebar-container aside ul li.lol:hover {
  background-image: url("images/icon-lol-hover.png");
}
/* line 1032, ../scss/style.scss */
.sidebar-container aside ul li.mtgo {
  background-image: url("images/icon-mtgo.png");
}
/* line 1034, ../scss/style.scss */
.sidebar-container aside ul li.mtgo:hover {
  background-image: url("images/icon-mtgo-hover.png");
}
/* line 1036, ../scss/style.scss */
.sidebar-container aside ul li.psn {
  background-image: url("images/icon-psn.png");
}
/* line 1038, ../scss/style.scss */
.sidebar-container aside ul li.psn:hover {
  background-image: url("images/icon-psn-hover.png");
}
/* line 1040, ../scss/style.scss */
.sidebar-container aside ul li.resume {
  background-image: url("images/icon-resume.png");
}
/* line 1042, ../scss/style.scss */
.sidebar-container aside ul li.resume:hover {
  background-image: url("images/icon-resume-hover.png");
}
/* line 1044, ../scss/style.scss */
.sidebar-container aside ul li.spotify {
  background-image: url("images/icon-spotify.png");
}
/* line 1046, ../scss/style.scss */
.sidebar-container aside ul li.spotify:hover {
  background-image: url("images/icon-spotify-hover.png");
}
/* line 1048, ../scss/style.scss */
.sidebar-container aside ul li.stackoverflow {
  background-image: url("images/icon-stackoverflow.png");
}
/* line 1050, ../scss/style.scss */
.sidebar-container aside ul li.stackoverflow:hover {
  background-image: url("images/icon-stackoverflow-hover.png");
}
/* line 1052, ../scss/style.scss */
.sidebar-container aside ul li.steam {
  background-image: url("images/icon-steam.png");
}
/* line 1054, ../scss/style.scss */
.sidebar-container aside ul li.steam:hover {
  background-image: url("images/icon-steam-hover.png");
}
/* line 1056, ../scss/style.scss */
.sidebar-container aside ul li.twitter {
  background-image: url("images/icon-twitter.png");
}
/* line 1058, ../scss/style.scss */
.sidebar-container aside ul li.twitter:hover {
  background-image: url("images/icon-twitter-hover.png");
}
/* line 1060, ../scss/style.scss */
.sidebar-container aside ul li.xbl {
  background-image: url("images/icon-xbl.png");
}
/* line 1062, ../scss/style.scss */
.sidebar-container aside ul li.xbl:hover {
  background-image: url("images/icon-xbl-hover.png");
}

/* line 1070, ../scss/style.scss */
footer {
  padding: 1rem 0px;
  border-top: 1px solid #7d848b;
  background-color: #f2f9ff;
}
/* line 1074, ../scss/style.scss */
.category-pro footer {
  background-color: #05101a;
}
/* line 1077, ../scss/style.scss */
footer .copyright {
  font-size: .8rem;
  line-height: normal;
  color: #7d848b;
  font-weight: normal;
  margin: 0px;
  text-align: center;
}
/* line 1084, ../scss/style.scss */
footer .copyright a {
  color: inherit;
}
/* line 1086, ../scss/style.scss */
footer .copyright a:hover {
  color: #ae613b;
}

@media only screen and (min-width: 768px) {
  /* line 1092, ../scss/style.scss */
  header {
    position: fixed;
  }
  /* line 1094, ../scss/style.scss */
  header .header-logo {
    margin-top: .25rem;
  }
  /* line 1096, ../scss/style.scss */
  html.inlinesvg header .header-logo a svg {
    height: 50px;
  }
  /* line 1100, ../scss/style.scss */
  header .subsection-logo {
    font-size: 2.7rem;
    margin-top: -9px;
    margin-left: 16px;
  }
  /* line 1106, ../scss/style.scss */
  header .menu-container,
  header .search-container {
    margin-top: .25rem;
  }
  /* line 1109, ../scss/style.scss */
  header .menu-container {
    clear: none;
    margin-right: .75rem;
  }
  /* line 1112, ../scss/style.scss */
  header .menu-container .inner-menu {
    margin-top: 55px;
  }

  /* line 1118, ../scss/style.scss */
  article {
    padding: 5rem 0px;
  }

  /* line 1122, ../scss/style.scss */
  .alignright, .alignleft {
    max-width: 50%;
    margin-top: .5rem;
    margin-bottom: 1rem;
  }

  /* line 1127, ../scss/style.scss */
  .alignleft {
    float: left;
    clear: left;
    margin-right: 2.2rem;
  }

  /* line 1132, ../scss/style.scss */
  .alignright {
    float: right;
    clear: right;
    margin-left: 2.2rem;
  }

  /* line 1137, ../scss/style.scss */
  .aligncenter {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 1060px) {
  /* line 1153, ../scss/style.scss */
  a.special {
    text-shadow: 0 0 1px rgba(111, 134, 134, 0.3);
  }
  /* line 1155, ../scss/style.scss */
  a.special:before {
    color: #ae613b;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
  }
  /* line 1171, ../scss/style.scss */
  a.special:hover:before, a.special:focus:before {
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
  }

  /* line 1180, ../scss/style.scss */
  h1 {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  /* line 1183, ../scss/style.scss */
  h1.special {
    font-family: 'Oxygen', 'Arimo', sans-serif;
  }

  /* line 1190, ../scss/style.scss */
  article section .text-container {
    padding: 1.5rem 40px;
  }
}
/* WordPress Plug-Ins */
/* Simple Lightbox */
/* line 1205, ../scss/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_details,
#slb_viewer_wrap .slb_theme_slb_baseline .slb_details {
  border-top: 1px solid #cbd0d5;
  padding-top: 1rem;
}
/* line 1208, ../scss/style.scss */
.category-pro #slb_viewer_wrap .slb_theme_slb_default .slb_details, .category-pro
#slb_viewer_wrap .slb_theme_slb_baseline .slb_details {
  border-color: #39424b;
}
/* line 1212, ../scss/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_group_status,
#slb_viewer_wrap .slb_theme_slb_baseline .slb_group_status {
  display: block;
  font-size: 1rem;
  line-height: normal;
  color: #7d848b;
  font-style: normal;
  text-align: center;
  margin: .5rem 0px 0px 0px;
}
/* line 1221, ../scss/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_slideshow,
#slb_viewer_wrap .slb_theme_slb_baseline .slb_slideshow {
  display: none;
}
/* line 1222, ../scss/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_data_title,
#slb_viewer_wrap .slb_theme_slb_baseline .slb_data_title {
  display: none;
}
/* line 1223, ../scss/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_data_desc,
#slb_viewer_wrap .slb_theme_slb_baseline .slb_data_desc {
  display: none;
}

/* Home page */
/* line 1228, ../scss/style.scss */
.page-id-2638 {
  background-image: none;
  /* enable flex boxes */
}
/* line 1237, ../scss/style.scss */
.page-id-2638,
.page-id-2638 .total-wrapper,
.page-id-2638 article,
.page-id-2638 article .inner,
.page-id-2638 .page-content {
  height: 100%;
}
/* line 1241, ../scss/style.scss */
.page-id-2638 article {
  padding: 0px;
}
/* line 1243, ../scss/style.scss */
.page-id-2638 article .inner {
  width: 100%;
}
/* line 1245, ../scss/style.scss */
.page-id-2638 .page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 768px;
}
/* line 1250, ../scss/style.scss */
.page-id-2638 .halfscreen {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  width: 100%;
  height: auto;
}
/* line 1254, ../scss/style.scss */
.page-id-2638 .halfscreen .text-container {
  float: left;
  clear: none;
  background-color: rgba(5, 16, 26, 0.3);
  width: 60%;
  margin: 2rem 6% 0px 6%;
  padding: 1rem 20px;
  border: none;
  border-radius: 0px;
}
/* line 1264, ../scss/style.scss */
.page-id-2638 .halfscreen.pro {
  background-image: url("images/bg-splash1040a.jpg");
  background-color: #05101a;
  background-position: 100% 50%;
  color: #f2f9ff;
}
/* line 1269, ../scss/style.scss */
.page-id-2638 .halfscreen.pro .text-container {
  padding-left: 0px;
}
/* line 1271, ../scss/style.scss */
.page-id-2638 .halfscreen.pro .text-container a.button {
  background-color: #05101a;
  border-radius: 0px;
}
/* line 1277, ../scss/style.scss */
.page-id-2638 .halfscreen.unpro {
  background-image: url("images/bg-splash1040b.jpg");
  background-color: #f2f9ff;
  background-position: 0% 50%;
}
/* line 1281, ../scss/style.scss */
.page-id-2638 .halfscreen.unpro .text-container {
  float: right;
  background-color: rgba(242, 249, 255, 0.6);
  padding-right: 0px;
}
/* line 1285, ../scss/style.scss */
.page-id-2638 .halfscreen.unpro .text-container h1, .page-id-2638 .halfscreen.unpro .text-container p, .page-id-2638 .halfscreen.unpro .text-container a {
  text-align: right;
}
/* line 1286, ../scss/style.scss */
.page-id-2638 .halfscreen.unpro .text-container a.button {
  background-color: #f2f9ff;
  border-radius: 8px;
}
/* line 1294, ../scss/style.scss */
.page-id-2638 footer .copyright {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  /* line 1302, ../scss/style.scss */
  .page-id-2638 header, .page-id-2638 footer {
    position: absolute;
    background-color: transparent;
    background-image: none;
    border: none;
  }
  /* line 1308, ../scss/style.scss */
  .page-id-2638 footer {
    bottom: 0px;
  }
  /* line 1309, ../scss/style.scss */
  .page-id-2638 .page-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /* line 1312, ../scss/style.scss */
  .page-id-2638 .halfscreen {
    background-repeat: no-repeat;
  }
  /* line 1314, ../scss/style.scss */
  .page-id-2638 .halfscreen .text-container {
    margin: 7rem 10% 0px 10%;
    width: 320px;
  }
  /* line 1318, ../scss/style.scss */
  .page-id-2638 .halfscreen.pro {
    background-image: url("images/bg-splash1040a.jpg");
    background-color: #05101a;
    background-position: 100% 50%;
  }
  /* line 1323, ../scss/style.scss */
  .page-id-2638 .halfscreen.unpro {
    background-image: url("images/bg-splash1040b.jpg");
    background-color: #f2f9ff;
    background-position: 0% 50%;
  }
}
@media only screen and (min-width: 1060px) {
  /* line 1334, ../scss/style.scss */
  .page-id-2638 .halfscreen.pro .text-container {
    float: right;
    margin-left: 0px;
    margin-right: 180px;
  }
  /* line 1339, ../scss/style.scss */
  .page-id-2638 .halfscreen.unpro .text-container {
    float: left;
    margin-left: 180px;
    margin-right: 0px;
  }
}
/* --- Sub-Theme Customization --- */
/* SCSS Variables */
